.muti-task {
  & > ul {
    position: relative;
    white-space: normal;
    .task-item {
      margin: 0 8px 8px;
      padding: 12px 0 20px;
      background-color: #fff;
      line-height: 20px;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0,0,0,.1);
      cursor: pointer;
      text-align: center;
      box-sizing: border-box;
      transition: border-left .2s ease;
      &.task-important {
        border-left: 4px solid  #FFAF38;
      }
      &.task-urgent {
        border-left: 4px solid #FF4F3E;
      }
      &.task-important:hover {
        border-left: 8px solid  #FFAF38;
      }
      &.task-urgent:hover {
        border-left: 8px solid  #FF4F3E;
      }
      & > div {
        display: inline-block;
      }
      .task-status {
        width: 15%;
        font-size: 16px;
        vertical-align: top;
        text-align: left;
        margin-top: 2px;
        padding-left: 12px;
      }
      .task-title {
        width: 70%;
        word-wrap: break-word;
        line-height: 22px;
        font-size: 14px;
        text-align: left;
        .deadline {
          position: relative;
          top: 8px;
          padding: 5px 6px;
          border-radius: 5px;
          line-height: 1;
          color: #FFF;
          background-color: #3DA8F5;
        }
      }
      .task-delete {
        width: 15%;
        text-align: center;
        font-size: 16px;
        vertical-align: top;
      }
    }
    .task-item.done {
      background-color: rgb(230,230,230);
      .task-title {
        .task-title-content{
          text-decoration: line-through;
        }
        .deadline {
          background-color: rgb(210,210,210);
          color: rgb(150,150,150)
        }
      }
    }
  }
}

