header.app-head {
  min-height: 50px;
  height: 50px;
  background-color: #FFF;
  z-index: 100;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
  text-align: center;
  .logo {
    display: inline-block;
    float: left;
    width: 200px;
    height: 100%;
    background: url(logo.png) 20px center no-repeat;
    background-size: auto 80%;
  }
  .header-menu {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    li {
      float: left;
      display: inline-block;
      padding: 0 35px;
      margin: 0;
      height: 100%;
      line-height: 100%;
      color: #383838;
      text-align: center;
      a {
        display: inline-block;
        color: #383838;
        font-size: 18px;
        line-height: 50px;
        height: 50px;
        box-sizing: border-box;
        padding: 0 25px;
        transition: border-bottom .2s ease;
        &.active {
          border-bottom: 3px solid #3DA8F5;
        }
        &:hover {
          border-bottom: 3px solid #3DA8F5;
        }
      }
    }
  }

  .func-menu {
    float: right;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    li {
      float: left;
      width: 75px;
      border-right: 1px solid rgba(0,0,0,.05);
      height: 100%;
      text-align: center;
      .anticon {
        font-size: 20px;
        line-height: 50px;
        height: 100%;
        cursor: pointer;
      }
    }
    .user-menu {
      a {
        display: inline-block;
        height: 50px;
        width: 50px;
        background: url(defaultUserlogo.png) center center no-repeat;
        background-size: 80% 80%;
        cursor: pointer;
      }
    }
  }
}

#wrapper {
  .main-contain {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
}